<header>

  <div class="home">Home</button></div>
  <div class="title"> <%= title %> </button></div>
  <div class="menu">Menu </button></div>

  <div><a href="/">Home</a></div>
  <div>Music Lyfe</div>
  <div><a class="grid-item5" type="button" href="/aboutTeamEarth">About Team Earth</a> </div>
  <div><a class="grid-item5" type="button" href="/getOthersData">View Other Users Stats</a></div>

</header>
