<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Lyfe</title>
  <link rel="stylesheet" href="/static/styles/reset.css">
<<<<<<< HEAD
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap">
=======
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
>>>>>>> 74947356815b6b0d8f7f7bdcf4048de1d5ec2475
  <link rel="stylesheet" href="/static/styles/base.css">
  <link rel="stylesheet" href="/static/styles/layout.css">
  <link rel="stylesheet" href="/static/styles/modules/module3.css">
</head>

<<<<<<< HEAD
  <body id="indexPage">
    <%- include('partials/header.ejs') %>
    <h1 class="grid-item1">MUSIC    LYFE</h1>
    <a class="loginButton" type="button" href="/auth/spotify">Login with Spotify</a>
=======
<body>
  <%- include('partials/header.ejs') %>
  <!-- <button href="/auth/spotify">Login with Spotify</button>
  <button>View others stats</button>
</body> -->

    <!-- <section class="header">
      <video autoplay muted loop id="turntable">
        <source src="/static/images/turntable.mp4" type="video/mp4">
      </video> -->
    </section>
    <h1 class="grid-item1">MUSIC LYFE</h1>
    <a class="grid-item5" type="button" href="/auth/spotify">Login with Spotify</a>
    <!-- <a class="grid-item5" type="button" href="/aboutTeamEarth">About Team Earth</a> -->
    </div>
>>>>>>> 74947356815b6b0d8f7f7bdcf4048de1d5ec2475
  </body>
</html>