<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Lyfe</title>
  <link rel="stylesheet" href="/static/styles/reset.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap">
  <link rel="stylesheet" href="/static/styles/base.css">
  <link rel="stylesheet" href="/static/styles/layout.css">
  <link rel="stylesheet" href="/static/styles/modules/module3.css">
</head>

  <body id="indexPage">
    <%- include('partials/header.ejs') %>
    <h1 class="grid-item1">MUSIC    LYFE</h1>
    <a class="loginButton" type="button" href="/auth/spotify">Login with Spotify</a>
  </body>
</html>