<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Lyfe</title>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/layout.css">
    <link rel="stylesheet" href="/static/styles/modules.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
</head>

<body>


  <div class="grid-container"></div>
  <div class="grid-item1">MUSIC LYFE</div>
  <div class="grid-item2">Spotify Connect</div>
  <div class="grid-item3">Sound Cloud Connect</div>
   <div class="grid-item4"> START LISTENING</div>
   <a class="grid-item5" type="button" href="/auth/spotify">Login with Spotify</a> 
   <a class="grid-item5" type="button" href="/aboutTeamEarth">About Team Earth</a> 

    
  </div>

    
</body>

</html>