<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Lyfe</title>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/layout.css">
    <link rel="stylesheet" href="/static/styles/modules/module2.css">
</head>

<body id="othersDataPage">
    <%- include('partials/header.ejs') %>
    <div>
      <ul>
      <% userObjects.forEach(user => { %>
        <div>
          <li>
            <h3 class="user_name"><%= user.display_name %></h3>
             <form action="getUserData/<%= user.id %>" method="GET" >
              <button type="submit" value=''>View User</button>
            </form>
            <br>
            <form action="User/<%= user.id %>?_method=DELETE" method="POST">
            <button type="submit" value='delete'>Delete User</button>
            </form>
          </li>
      </div>
       <%  }) %>  
      </ul>
    </div>
</body>

</html>
