/* Container */
@media screen and (max-width: 840px) {
  #aboutTeamEarth .center,
  #partialsHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #partialsHeader a {
    margin: 12px 0;
  }
}

@media screen and (min-width: 1540px) {
  #aboutUsHeadline,
  #partialsHeader {
    width: 840px;
    margin-left: calc((100vw - 1540px) / 2);
  }

  #aboutTeamEarth .center {
    width: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc((100vw - 1540px) / 2);
  }
}
