body#aboutTeamEarth {
  width: 100%;
  margin: 0 auto;
  /* background: rgb(179, 179, 179);
  background: linear-gradient(
    90deg,
    rgba(179, 179, 179, 0.850577731092437) 0%,
    rgba(157, 190, 190, 1) 38%,
    rgba(18, 19, 19, 1) 100%
  ); */
}

/* header {
  height: 300px;
  width: 1300px;
  margin: 0 auto;
  background-image: url("../img/header5.jpg");
  background-repeat: no-repeat;
  background-position: center;
} */

body {
  display: flex;
}

img {
  border-radius: 5px;
}

#aboutUsHeadline {
  display: flex;
  justify-content: center;
  text-align: center;
}

body#aboutTeamEarth h2.title {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
}

h2 {
  padding: 10px;
  font-size: 34px;
  font-family: cursive;
}

body#aboutTeamEarth h1 {
  font-family: "Amatic SC", cursive;
  display: block;
  color: rgb(9, 75, 119);
  font-size: 72px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;

  text-shadow: 0px 1px 0px #e1e2ed;
  padding: 0;
  margin: 0;
}

p {
  padding: 10px;
  font-family: sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}
.card-container {
  height: 370px;
  width: 370px;
  margin: 20px;
  perspective: 600;
  position: relative;
  display: flex;
  justify-content: center;
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out;
  border-radius: 10px;
  border: thick rgb(41, 54, 125) solid;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}
.card:hover {
  transform: rotateY(180deg);
  /* opacity: 0.3; */
}
.card .side {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card .back {
  transform: rotateY(180deg);
  /* background-color: rgba(68, 41, 241, 0.1); */
  background: linear-gradient(skyblue, khaki);
  /* opacity: 0.2; */
  transition-property: background-color, color;
  transition-duration: 1s, 0.5s;
  transition-timing-function: ease-in-out;
}

.card .back:hover {
  background-color: rgb(62, 62, 255);
  color: white;
}

.back {
  box-sizing: border-box;
  text-align: justify;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  padding: 20px;
}
.back h2 {
  text-align: center;
  padding: 0;
}

img.about-us {
  width: 370px;
  height: 370px;
}

.connect {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
img.authors-social {
  position: absolute;
  bottom: 20px;
  height: 40px;
  width: 40px;
  margin-left: -20px;
  box-shadow: 0 0 55px 25px #f2ff0400;
  border: solid 3px #f2ff0400;
}

img.authors-social:hover {
  border: 3px solid white;
  /* filter: invert(100%);
-webkit-filter: invert(100%); */
  box-shadow: 0 0 55px 25px #f2ff044f;
  border: solid 3px #f2ff044f;
  opacity: 0.8;
}

a[type="button"] {
  text-align: center;
  background-color: none;
  background: none;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}

a[type="button"]:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
a[type="button"]:active {
  position: relative;
  top: 1px;
}
