/* *{
  background: rgb(179,179,179);
background: linear-gradient(90deg, rgba(179,179,179,0.850577731092437) 0%, rgba(157,190,190,1) 38%, rgba(18,19,19,1) 100%);
font-family: 'Redressed', cursive;
background-size: 100%;
} */

body {
  text-align: left;
}

/* header */

#partialsHeader {
}

/* others_stats */

button {
  display: grid;
  padding: 10px;
  text-align: center;
  background: none;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  /* background-color:#ededed; */
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
button {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
button {
  position: relative;
  top: 1px;
}
/* track_details */

#trackDetails > div {
  margin: auto;
}

#trackDetails > div > img {
  max-width: 350px;
}

#trackDetails {
  background-color: rgba(240, 255, 255, 0.5);
}

/* user_Stats */

.user_Stats {
}

/* index */
body {
  background: none;
}

section.header {
  background-color: rgba(209, 248, 246, 0.1);
  /* height: 100vh; */
}

#turntable {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
h1.grid-item1 {
  color: rgb(58, 175, 204);
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  width: 30%;
}
#indexPage .grid-item5 {
  width: 200px;
  margin-left: 200px;
}

.user_Stats {
}

/* about_us */

.user_Stats {
}
