body {
  display: grid;
  grid-template-columns: 1fr 705px;
  align-items: center;
  justify-content: center;
  background: none;
}

body>div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* header */

header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 12px;
}

header>* {
  margin: 5px;
}

/* background */

#turntable {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* form */

form {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}

form > div > * {
margin: 5px;
}

/* li */

li {
  margin-top: 20px;
}

/* models */

h1 {
  font-family: "Amatic SC", cursive;
  display: block;
  color: rgb(9, 75, 119);
  font-size: 50px;
  font-weight: 250;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 15px;
}

h3{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 10px;
  text-align: center;
}

h4{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 10px;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body {
    background-color: rgba(255, 254, 254, 0.32);
    color: white;
    font-size: large;
    min-width: 400px;
  }
}