*{
  background: rgb(179,179,179);
background: linear-gradient(90deg, rgba(179,179,179,0.850577731092437) 0%, rgba(157,190,190,1) 38%, rgba(18,19,19,1) 100%);
font-family: 'Redressed', cursive;
background-size: 100%;
}

body, .grid-container  {
   text-align: center;
  
}
